@model IEnumerable<DienMayQuyetTien.Models.LoaiSanPham>

@{
    ViewBag.Title = "Danh Sách Loại";
}

<h2>Danh sách loại sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm Loại", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Loại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
